@use '../abstracts/variables' as v;

.dashboard {
  padding-inline: 0 50px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 70px;
    color: v.$text-orange;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subtitle {
    font-size: 24px;
    color: v.$text-white;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  &__endsoon-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #bababa;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ffb770;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: grab;
    }
    
  }

  &__overview {
    padding-bottom: 50px;
  }
}
