@use '../abstracts/variables' as v;

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__published {
    background-color: #ffcfa1;
    border-radius: 0 15px 0 0;
    padding: 5px 15px 5px 5px;
    font-weight: bold;
  }

  &__survey {
    flex: 7;
  }
  &__results {
    flex: 3;
    position: sticky;
    top: 120px;
  }

  &__submitted {
    font-size: 18px;
    color: v.$text-dark;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    width: 100%;
    background: v.$survey-details-bg;
    padding: 30px;
    border-radius: 12px 100px 12px 12px;
    display: flex;
    flex-direction: column;
  }

  &__published {
    background-color: v.$button-primary;
    border-radius: 0 15px 0 0;
    width: fit-content;
    padding: 5px 15px 5px 5px;
    font-weight: bold;
  }

  &__overline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
  }

  &__title {
    padding-block: 15px;
    font-size: 50px;
    font-weight: bold;
    color: v.$text-orange-darker;
    line-height: 0.85;
  }

  &__questions {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
  }

  &__question-title {
    font-size: 20px;
    font-weight: bold;
    color: v.$text-dark;
  }

  &__multipleAnswers {
    font-size: 14px;
    color: v.$text-dark;
    font-style: italic;
    padding-bottom: 10px;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__answer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: v.$text-dark;
    padding-left: 15px;
    &:hover {
      background-color: v.$answer-focus;
      cursor: pointer;
    }
  }

  &__letter {
    font-weight: bold;
  }

  &__checkbox {
    display: none;
    &:checked + .details__custom-checkbox {
      background-color: v.$button-filter_active;
      border-color: v.$button-filter_active;
    }
    &:checked + .details__custom-checkbox::after {
      content: '';
      position: absolute;
      left: 5px;
      bottom: 2px;
      width: 5px;
      height: 12px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &__custom-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid v.$text-dark;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }

  &__dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__dashboard-title {
    font-size: 30px;
    font-weight: bold;
    color: v.$text-dark;
    padding-top: 70px;

    &--live {
      color: v.$text-orange-darker;
    }
  }

  &__dashboard-description {
    font-size: 16px;
    color: v.$text-dark;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    max-width: 300px;
  }

  &__dashboard-live-results {
    padding-left: 30px;
    font-size: 18px;
    color: v.$text-dark;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__dashboard-question {
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 16px;
    color: v.$text-dark;
    font-weight: bold;
  }

  &__dashboard-answer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: v.$text-dark;
    padding-bottom: 5px;
  }

  &__dashboard-bar {
    flex: 1;
    height: 20px;
    background-color: v.$bar-bg;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
  }

  &__dashboard-bar-fill {
    height: 100%;
    background-color: v.$text-orange;
    transition: width 0.5s ease;
    border-radius: 0 10px 10px 0;
  }

  &__dashboard-percent {
    font-size: 14px;
    color: v.$text-orange-darker;
    font-weight: bold;
  }
}

@media (max-width: 800px) {
  .details {
    flex-direction: column;
    align-items: stretch;
    &__survey,
    &__results {
      flex: none;
      width: 100%;
    }

    &__dashboard {
      flex-direction: column;
      align-items: flex-start;
    }
    &__dashboard-title {
      padding-top: 15px;
    }
    &__dashboard-live-results {
      padding-left: 0;
    }
    &__dashboard-question {
      padding-top: 15px;
    }
  }

  @media (max-width: 550px) {
    .details {
      &__form {
        padding: 12px;
      }
      &__questions {
        grid-template-columns: 1fr;
        padding-top: 15px;
      }

      &__category,
      &__endsOn,
      &__description {
        font-size: 14px;
      }

      &__title {
        font-size: 30px;
      }

      &__question-title {
        font-size: 16px;
      }

      &__answer {
        font-size: 14px;
      }

      &__dashboard-title {
        font-size: 24px;
      }
    }
  }

  @media (max-width: 440px) {
    .details {
      &__overline {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }
}
