@use '../abstracts/variables' as v;

.survey-form {
  width: 100%;
  background: v.$dark-bg;
  padding: 30px 80px;
  border-radius: 12px 100px 12px 12px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 20px;
  }

  &__draft {
    background-color: v.$button-primary;
    border-radius: 0 15px 0 0;
    width: fit-content;
    padding: 5px 15px 5px 5px;
    font-weight: bold;
  }

  &__title {
    font-size: 50px;
    font-weight: bold;
    color: v.$text-orange-darker;
  }

  &__category {
    color: v.$text-orange;
    padding-left: 40px;
  }

  &__form {
    background-color: v.$form-bg;
    border-radius: 12px 100px 12px 12px;
    padding: 40px;
  }

  &__fieldset {
    border: none;
    width: 100%;

    &--hori {
      display: grid;
      grid-template-columns: 220px 220px 1fr;
      grid-template-areas:
        'name name description'
        'date category description';
      gap: 20px 70px;
    }
  }
  &__field {
    display: flex;
    flex-direction: column;
    > label {
      font-size: 18px;
      font-weight: bold;
      color: v.$text-white;
    }

    &--name {
      grid-area: name;
    }
    &--date {
      grid-area: date;
    }
    &--category {
      grid-area: category;
      position: relative;
    }
    &--description {
      grid-area: description;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    > input,
    > textarea {
      flex: 1;
      border: none;
      border-radius: 8px 25px 8px 8px;
      padding: 10px;
      font-size: 18px;
      &:focus {
        outline: none;
        border: none;
        background-color: v.$input-focus;
      }

      &:hover {
        cursor: pointer;
      }
      > input {
        width: 100%;
      }
    }

    > textarea {
      resize: none;
      height: 100%;
    }

    &--question {
      justify-content: space-between;
      padding-bottom: 5px;
    }
  }

  &__delete {
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/delete.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    margin-top: 5px;
    flex: 0 0 30px;

    &:hover {
      background-image: url('/assets/img/delete_hover.svg');
      cursor: pointer;
    }

    &--question {
      margin-top: 0;
    }
  }

  &__questions {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
  }

  &__question-num {
    font-size: 18px;
    font-weight: bold;
    color: v.$text-white;
    text-align: left;
    flex: 1;
    margin-top: 5px;
  }

  &__question {
    width: 100%;
    border: none;
    border-radius: 8px 25px 8px 8px;
    padding: 10px;
    font-size: 18px;
    &:focus {
      outline: none;
      border: none;
      background-color: v.$input-focus;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__answers-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__answers-title {
    font-size: 18px;
    font-weight: bold;
    color: v.$text-white;
    padding-block: 15px;
  }

  &__answers-control {
    display: flex;
    gap: 10px;
    align-items: center;
    > p {
      font-size: 14px;
      color: v.$text-white;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    display: none;
    &:checked + .survey-form__custom-checkbox {
      background-color: v.$button-filter_active;
      border-color: v.$button-filter_active;
    }
    &:checked + .survey-form__custom-checkbox::after {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 1px;
      width: 5px;
      height: 12px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:hover + .survey-form__custom-checkbox {
      background-color: v.$button-filter_hover;
      cursor: pointer;
    }
  }

  &__custom-checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid v.$text-white;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__answer {
    display: flex;
    align-items: center;
    gap: 10px;
    > span {
      font-size: 18px;
      font-weight: bold;
      color: v.$text-white;
    }
  }

  &__dropdown {
    position: absolute;
    background-color: v.$highlight_card-bg;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    width: fit-content;
    z-index: 10;
    top: 30px;

    > li {
      list-style: none;
      padding: 5px 10px;
      border-radius: 8px;

      &:hover {
        background-color: v.$highlight_card-bg-hover;
        cursor: pointer;
      }
    }
  }

  &__error {
    color: red;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    &--category {
      padding-left: 40px;
    }

    &--answers {
      padding-left: 30px;
    }
  }
}

.toast {
  position: fixed;
  bottom: 150px;
  right:150px;
  background: v.$popup-bg;
  color: v.$text-dark;
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: 500;
  z-index: 999;
  transform: translateX(120%);
  animation: slideIn 0.4s ease forwards;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 40px 0 0;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(-20%);
    opacity: 1;
  }
}
