@font-face {
  font-family: 'Nerko';
  src: url('../../../public/assets/fonts/nerko/nerkoone-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../../public/assets/fonts/nunito/nunito-v32-latin-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
