<section>
  <div class="container">
    <div class="landing-page">
      <div class="landing-page__left">
        <h1 class="landing-page__title">
          Collect Feedback, <br />
          Unlock Ideas
        </h1>

        <p class="landing-page__subtitle">
          Create and share surveys in minutes - from team events to workplace culture. Collect
          opinions, engage your audience, and turn feedback into action.
        </p>
        <button class="btn btn--primary btn--new">New survey</button>
      </div>
      <div class="landing-page__icon"></div>
    </div>
    <app-ending-soon></app-ending-soon>
  </div>
</section>
